.form {
    width: 50vw;
    margin-left: 25%;
    margin-top: 50px;
    border-radius: 6px;
    overflow:hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    text-align: center;
    justify-content: center;
    background-color: #ffffff;
    list-style: none;
}

.form li {
    margin-top: 15px;
}

.form button {
    margin-top: 15px;
    background-color: #008000;
}

.add i {
    background-color: #008000;
}

input {
    padding: 10px 20px;
    border-radius: 20px;
}